// Typography
$base-font-size: 18;
$leading: 1.5;
$leading-value: $base-font-size * $leading;

// Primaries Colors
$c-primary-orange: #FFD9C7;
$c-primary-middleOrange: #D8866D;
$c-primary-brown: #985555;

// Accents Colors
$c-accent-purple: #734D60;
$c-accent-darkPurple: #41262C;

// Neutrals Colors
$c-neutral-grey: #F8F8F8;
$c-neutral-darkGrey: #878787;
$c-neutral-black: #292929;

// Notifications Colors
$c-notif-yellow: #FFEDB2;
$c-notif-blue: #77A9B4;
$c-notif-green: #6CA37C;
$c-notif-red: #FF676A;